# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate

# Xcode workspace user data
*.xcworkspace/xcuserdata/

# Build files
build/
DerivedData/

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/

# Archives
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# SwiftPM (if nested)
.swiftpm/

# Logs
*.log